body {
    
    background: url(../images/body.png) repeat-x rgb(255, 255, 255);
    font: 400 12px/14px Geneva, 宋体, Tahoma, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 14px;
    font-family: Geneva, 宋体, Tahoma, sans-serif;
    color: #333;
}

* {
    padding: 0;
    margin: 0;    
	text-decoration: none;
	list-style: none;
	font-size: 12px;
}
/*背景*/
.bg{
	width: 100%;	
	background: url(../images/bg_chs.png) center top no-repeat;
}
.container{
	overflow: hidden;
	width: 956px;
	
	margin: 0 auto;	
	position: relative;
	background: url(../images/left.png) left bottom no-repeat;
}

/*头部*/
.header{
	overflow: hidden;
}
.header .logo{
	width: 289px;
	height: 94px;
	float: left;
}
.header .feedback{
	float: right;
	margin: 65px 20px 0 0;
	color: #fff;
	cursor: pointer;
}
.header .language{
	color: #fff;
	position: absolute;
	top: 40px;
	right: 2px;
	z-index: 99;
}

.header .language a{
	color: #e7e7e7;
}

/*内容左侧*/
.content .left_box{
	width: 210px;
	height: 650px;
	background: url(../images/left.png) left top no-repeat #f8fdff;
	padding-top: 30px;
	float: left;
}
.content .left_box .nav_box{
	margin-left: 2px;
    background: url(../images/left_2.png) left top no-repeat;
    height: 72px;
    padding: 10px 0 0 20px;
    cursor: pointer;
    display: block;
    width: 168px;
}
.content .left_box a.cur{
	background-position: left bottom;
    color: #fff;
    width: auto;
}
.content .left_box a.cur span{
	display: block;
	color: #fff;
}
.content .left_box a span.nav_2{
	background: url(../images/index_icon_1.png) 0 -8px no-repeat;
}
.content .left_box a.cur span.nav_1{
	background: url(../images/index_icon_1.png) 0 -146px no-repeat;
}
.content .left_box a#nav_2{
	color: #616C72;
}
.content .left_box a .dt{
	font-size: 20px;
    font-family: 'å¾®è½¯é›…é»‘';
    line-height: 26px;
    padding-left: 30px;
    height: 26px;
}
.content .left_box a .dd{
	line-height: 16px;
    height: 16px;
    padding-top: 10px;
    display: block;
}
#nav_3{
	display: none;
}
.content .left_box .search{
	background: url(../images/index_icon_1.png) 0 -250px no-repeat;
    width: 179px;
    height: 185px;
    margin-left: 7px;
    margin-top: 97px;
}
.content .left_box .search .inp_box{
	padding: 41px 0 0 5px;
}

.content .left_box .search form {
	padding: 0;
	margin: 2px 0 0;
}
.content .left_box .search form input{
	float: left;
    border: none;
    background: 0 0;
    line-height: 14px;
    height: 14px;
    padding: 5px 2px;
}
.content .left_box .search form .txt{
	 z-index: 0; 
	 color: #AAAAAA;
	 width: 140px;
}
.content .left_box .search form .btn{
	padding: 0;
    height: 26px;
    width: 30px;
    cursor: pointer;
    outline: 0;
}
.content .left_box .search .clear{
	clear: both;
    font-size: 0;
    line-height: 0;
}
.content .left_box .search ul{
	padding-left: 37px;
    padding-top: 20px;
    width: 160px;
}
.content .left_box .search ul li{
	float: left;
}
.content .left_box .search ul li a{
	width: 36px;
    padding-left: 18px;
    height: 28px;
    color: #696969;
    line-height: 20px;
    display: block;
}
.content .left_box .search ul li .item_1{
	background:url(../images/ipt.png) -267px -70px no-repeat;
}
.content .left_box .search ul li .item_2{
	background:url(../images/ipt.png) -267px -97px no-repeat;
}
.content .left_box .search ul li .item_3{
	background:url(../images/ipt.png) -267px -125px no-repeat;
}
.content .left_box .search ul li .item_4{
	background:url(../images/ipt.png) -267px -152px no-repeat;
}


/*内容右侧*/
.content .right_box{
	width: 746px;
	min-height: 650px;
	float: left;
	overflow: hidden;
	padding-bottom: 80px;
	border-top: solid 1px #80add9;
    border-bottom: solid 1px #d6d9db;
    background: url(../images/right_1600.png) right top no-repeat #f8fdff;
}
.content .right_box .phone{
	text-align: left;
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    z-index: 1;
}
.content .right_box .enter .banner{
	display: block;
    width: 610px;
    height: 165px;
    background: url(../images/enterBannerC.jpg) no-repeat center;
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: -5px;
}
.pwd_infor{
	position: relative;
}
.content .right_box .enter .title{
	position: relative;
    width: 604px;
    height: 80px;
    margin-left: 63px;
    border-bottom: 1px solid #ddd;
}
.content .right_box .enter .title .haoma{
	position: absolute;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-family: "微软雅黑";
    font-size: 18px;
    text-indent: 6px;
    border-left: 3px solid #59AfE4;
    margin-top: 50px;
    color: #616161;
}
.content .right_box .enter form{
	padding-top: 20px;
}

/*注册账号区*/
.content .right_box form{
	padding-top: 20px;
}
.content .right_box form .box{
	margin-right: 3px;
	clear: both;
	height: auto;
	
}
.content .right_box form .box .item{
	float: left;
    text-align: right;
    width: 179px;
    padding-right: 10px;
    height: 44px;
    padding-top: 6px;    
    line-height: 20px;
    font-size: 14px;
}
.content .right_box .box .inp_box{
	float: left;
    width: 306px;
    height: 50px;
    position: relative;
}
.content .right_box .box .inp_box .inp_bg{	    
    border: none;
    height: 35px;
    width: 300px;
    background: url(../images/ipt.png) no-repeat;
}
.content .right_box .box .inp_box .inp_bg_error{
	background: url(../images/input_error.png) no-repeat;
    border: none;
    height: 35px;
    width: 300px;
}
.content .right_box .box .inp_box .inp_bg input{	
	width: 284px;
    padding: 8px;
    border: none;
    line-height: 18px;
    font-size: 14px;
    height: 18px;
	background: 0 0;
}
table{
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.infor table{
	margin-left: 6px;
}
.box .infor td.ok {
    color: #48A309;
    background: url(../images/ok.png) 0 11px no-repeat;
    padding-left: 14px;
}
.infor td{
	width: 233px;
    height: 35px;
    vertical-align: middle;
}
.hidden {
    visibility: hidden!important;
}
.box .error {
    color: #f66;
    background: url(../images/pwd_sprite.png) 0 -342px no-repeat;
    padding-left: 16px;
}
#pwd_tips {
    width: 158px;
    height: 71px;
    right: 80px;
    display: none;
    padding-top: 6px;
    position: absolute;
    top: -18px;
    background: url(../images/pwd_sprite.png) no-repeat;
}
#pwd_tips .default {
    background: url(../images/pwd_sprite.png?v=10091) 0 -215px no-repeat;
}
#pwd_tips div {
    height: 22px;
    line-height: 22px;
    margin-left: 15px;
    padding-left: 18px;
}
.box .error{
	color: #f66;
    background: url(../images/pwd_sprite.png) 0 -342px no-repeat;
    padding-left: 16px;
}
.box_4 .inp_box{
	height: 38px;
    padding-top: 2px;
}
.box_4 .sex_box a{
	padding-left: 20px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 30px;
    cursor: pointer;
    margin-top: 6px;
    background: url(../images/ipt.png) -300px -322px no-repeat;
}

.box_4 .sex_box a.checked{
	background: url(../images/ipt.png) -300px -354px no-repeat;
}
.box_4 .sex_box a.unchecked{
	
}
.box_5 .inp_box{
	height: 40px;
	width: 306px;
	padding-left: 0;
}
.box_5 .inp_box .type_box{
	background: url(../images/ipt.png) -197px -176px no-repeat;
    width: 60px;
    height: 23px;
    float: left;
    margin-right: 4px;
}

.box_5 .inp_box .year_box{
	width: 106px;
    height: 23px;
    float: left;
    margin-right: 4px;
}
.box_5 .inp_box .month_box{
	width: 60px;
    height: 23px;
    float: left;
    margin-right: 4px;
}
.box_5 .inp_box .day_box{
	width: 60px;
    height: 23px;
    float: left;
}
.box_5 .inp_box select{
	width: 100%;
	height: 23px;
}
.box_5 .inp_box div{
	margin-top: 6px;
}
.box_6 .inp_box{
	height: 40px;
	width: 306px;
	padding-left: 0;
}
.box_6 .inp_box .country_box{
	float: left;
    height: 23px;
    line-height: 23px;
    position: relative;
    width: 98px;
    margin-right: 3px;
}
.box_6 .inp_box .province_box{
	float: left;
    height: 23px;
    line-height: 23px;
    position: relative;
    width: 98px;
    margin-right: 3px;
}
.box_6 .inp_box .city_box{
	float: left;
    height: 23px;
    line-height: 23px;
    position: relative;
    width: 98px;
}
.box_6 .inp_box select{
	width: 100%;
	height: 23px;
}
.box_6 .inp_box div{
	margin-top: 6px;
}
.box_8 a{
	color: blue;
	cursor: pointer;
}
.phone_box .sea_country_box{
	width: 300px;
	height: 23px;
}
.phone_box .sea_country_box select{
	width: 100%;
	height: 23px;
	margin-top: 6px;
}
.phone_box .sea_phone{
	display: none;
}
.phone_box .box_9 {
	height: 90px;
}
.phone_box .box_8 .box .inp_box{
	width: 179px;
}
.phone_box .box_8 .box .inp_box #verima{
	width: 169px;
	background: url(../images/ipt.png) 0 -597px no-repeat;
    
    background-position-y: -634px;
}
.content .right_box form .box_9{
	height: 90px;
}
.getverima {
    width: 121px;
    float: left;
}.getverima div {
    background: #69b946;
    color: #fff;
    display: inline-block;
    font: 16px/33px "å¾®è½¯é›…é»‘","å®‹ä½“";
    height: 31px;
    text-align: center;
    width: 119px;
    padding-bottom: 3px;
    _padding-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.box .infor {
    float: left;
    width: 236px;
    height: 40px;
    height: 38px\9;
}
#verima_ipt_box {
    width: 179px;
}
#verima_bg {
    background: url(../images/ipt.png) 0 -597px no-repeat;
    width: 169px;
    height: 35px;
}
#verima_bg input{
	width: 170px;
	height: 31px;
}
#sms_box{
	display: none;
}
.box_9 .submit input{
	background: #69b946;
    display: inline-block;
    height: 52px;
    width: 306px;
    text-align: center;
    cursor: pointer;
    font: 22px/52px "微软雅黑";
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

.box_9 .inp_box .submit input.disabled {
    background: #f4f9fd;
    color: #888;
    cursor: default;
    border-color: #d0dae3;
}
 .content .right_box form .box_10{
 	height: 25px;
 } 
 .box_10 #qzone {
    height: 25px;
}
.box .nopadding {
    width: 306px;
    padding-left: 0;
}
.box_10 #qzone{
    display: inline-block;
    line-height: 18px;
    height: 18px;
    padding: 0 20px;
    background: url(../images/ipt.png) -300px -292px no-repeat;
    color: #000;
    cursor: pointer;
}
.box_11 {
    height: 90px;
}
.box_11 .inp_box {
    height: 90px;
    background: 0 0;
    padding-left: 0;
}
.box_11 .inp_box .agree_box {
    height: 35px;
}
.inp_box .agree_box .checked {
    background: url(../images/ipt.png) -300px -292px no-repeat;
    color: #000;
}
.box_11 .inp_box .agree_box .a_1 {
    display: block;
    float: left;
    line-height: 18px;
    height: 18px;
    padding-left: 20px;
    background: url(../images/ipt.png) -300px -292px no-repeat;
    cursor: pointer;
    margin-right: 10px;
    
}
.box_11 .inp_box .agree_box .x_box {
    float: left;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.box_11 .inp_box .agree_box .x_box div {
    background: url(../images/pwd_sprite.png) -35px -319px no-repeat #F8FDFF;
    width: 19px;
    height: 13px;
    position: relative;
    z-index: 1;
}
#x_box>p {
    background: #f8fdff;
}
.box_11 .inp_box .agree_box .x_box p {
    position: absolute;
    width: 161px;
    left: 0;
    top: 12px;
    border: 1px solid #74b4ef;
    z-index: 0;
    display: none;
}
 a:link {
    color: #4199d7;
}
.box .tip{
	color: gray;
	background: 0 0;
}
#pwd_tips .no {
    background: url(../images/pwd_sprite.png) 0 -281px no-repeat;
}
#pwd_tips .yes {
    background: url(../images/pwd_sprite.png) 0 -247px no-repeat;
}
.box .yes {
    background: url(../images/pwd_sprite.png) 0 -247px no-repeat;
}
.phone_del {
    width: 21px;
    height: 21px;
    right: 14px;
    display: none;
    background: url(../images/icon_3_tiny.png) -116px -160px no-repeat;
    _background: url(../images/icon_3_8.png) -116px -160px no-repeat;
}
.arrow, .phone_del {
    top: 7px;
    position: absolute;
}
.chk_email_code .div_3 a, .chk_email_code .div_3 img, .getverima div, .phone_del {
    cursor: pointer;
}

/*底部*/
.clear_btn{
	clear: both;
	font-size: 0;
    line-height: 0;
}
.foot{
	width: 956px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    color: #a6a6a6;
    padding: 20px 0;
    margin-bottom: 500px;
}
.foot span{
	font-family: Tahoma,Verdana,Arial,'宋体';
    color: #A6A6A6;
}























